<div class="row" ng-controller="BitcoinListCtrl as blockCtrl">

    <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="block in blockCtrl.blocks">
        <a class="thumbnail" href="#/block/{{block.hash}}}}">
            <div class="caption">
                <h3>Height: {{block.height}}</h3>
                <p>Date: {{block.time * 1000 | date}}</p>
                <p>Transactions: {{block.tx.length}}</p>
                <p>Size: {{block.size}}</p>
                <p>Mined by: {{block.poolInfo.poolName}}</p>
            </div>
        </a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
            <form class="navbar-form navbar-right" ng-submit="blockCtrl.showPrevious()">
                <button type="submit" class="btn btn-default">Show Previous</button>
            </form>
    </nav>
</div>

