<div ng-show="txCtrl.reqFail" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Request failed</h3>
    </div>
    <div class="panel-body">
        The software could not find a transaction for hash/id: {{txCtrl.rparam}}. Try different value.
    </div>
</div>
<div ng-show="txCtrl.tx">
    <h3>Transaction: {{txCtrl.tx.txid}}</h3>
    <h4>Graph representing the transaction:</h4>
    <button ng-click="txCtrl.expandNodes()">Expand the nodes</button>
    <button ng-click="txCtrl.autoExpand()">Auto expand the nodes</button>
    <div style="margin-left: auto; margin-right: auto; margin-top:20px; width: 820px">
        <tx-graph nodes="txCtrl.nodes" links="txCtrl.links"></tx-graph>
    </div>
</div>